// Specific CSS for your home-page
.btn-flat {
  color: white;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: #450D18;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #450D18;
  color: white;
}
