// Specific CSS for your home-page
.btn-flat {
  color: white;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  background: #450D18;
  transition: background 0.3s ease;
  // margin-left: 22%;
  // margin-right: 15%;
}

.btn-flat p {
margin: 0px;
font-size: 20px;
}

.btn-flat:hover {
  background: #450D18;
  color: white;
}

.help-button {
  width: 30vw;
  margin-top: 40px;
}

.w3-container {

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 86vh;
}

.icon-schema {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;

  // border: solid;
  // border-color: #18233A;
  // border-width: 1px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.icon-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 18%;
  padding-top: 8px;
}

.textonimg h2 {
  font-size: 50px;
  color:black;
  padding: auto 3px;
  font-weight: bolder;
}

.textonimg {
  margin-top: 100px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.icons {
  font-size: 30px;
  color: #18233A;
}

.undericon-text {
  text-align: center;
  font-size: 20px;
  color: #18233A;

}

a {
  color: #450D18;
}
#photo1 {
  background-image: url('homepage.jpg');
  background-size: cover;
  height: 600px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px 0 0 10px;
  ;
}

.iconcontainer {
  height: 200px;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

@media(min-width: 1000px) {

}

.logincontainer {
  width: 35vw;
  height: 75vh;
  margin: auto;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid;
  border-width: 1px;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.signupcontainer {
  width: 35vw;
  // height: 75vh;
  margin: auto;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid;
  border-width: 1px;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a:hover {
  text-decoration: none;
}

.forumcontainer {
  height: 83vh;
}

.footer-copyright {
  font-size: 18px;
}

.columnflexing {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.columnflexing p {
  text-align: center;
}
