.card-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D7DEDC;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  border: solid;
  border-width: 1px;
}
.card-cont p{
  margin: 0;
  // text-align: center;
}
.text-color-white-button {
  background-color: #450D18;

}
.text-color-white-button a{
  color: #F5F5F5 !important;
}
.mapboxgl-popup-content {
  padding: 0 0 0 !important;
}

.flexing{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.firstaidkit {
  justify-content:space-around;
  margin-bottom: 20px;
}

.specialistcardflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardimgg {
  width: 50%;
}

.cardimgg img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  margin-right: 4px;
}

.cardcard {
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 10px;
  padding: 7px;
  border: solid;
  border-width: 1px;
  // background-color: #D7DEDC;
}


.cardinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  margin-left: 4px;
}

.insideinfo {
  font-size: 11px;
  margin: 2px;
}

a:hover {
  text-decoration: none;
}

.mapboxgl-popup-content a:hover {
  text-decoration: none;
}
