.form-check {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 10px;

}
.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  cursor: pointer;
  box-sizing: border-box;
  width: 150px;
  font-size: 15px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #050505;
  border-radius: 12px;
  background-color: white;

}
.category-selector:checked + label {
  background-color: #450D18 !important;
  color: white ;
}
.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.form-check-label {
  margin-bottom: 1rem !important;
}

.statement-controller {
  min-height: 86vh;
}

.fak-container {
  display: flex;
  // justify-content: center;
  text-align: center;
}

.toggling-btn{
  margin: 10px 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly !important;
  padding: 5 5 5 5px !important;
}

#btn1 {
  padding: 10px 45px;
  border-radius: 7px;
}
#btn2 {
  padding: 10px 45px;
  border-radius: 7px;
}
#btn3 {
  padding: 10px 45px;
  border-radius: 7px;
}

.toggled-btn{
  background-color: #450D18 !important;
  color: white ;
}

.fak-text {
  margin: 20px 30px;
  text-align: center;
  border-radius: 3px;
  padding: 15px 10px 65px 10px;
  background-color: #D7DEDC;
}

.fak-fora {
  margin-top: 20px;
  text-align: center;
  padding: 5px 10px;
}

.fak-maps {
  margin: 20px 30px;
  text-align: center;
  padding: 5px 10px;
  ;
}

.dropdown-toggle {
  font-size: 12px;
padding: cover;

}
.statement-controller {
  min-height: 86vh;
}
.card-asso {
background-color: #D7DEDC;
margin: 10px 10px;
padding: 40px 7px;
border-radius: 12px;
}
.dropdown-menu {
  background-color: #450D18 !important;
  color: white ;
  font-size: 10px;
}
