.statement-controller {
  min-height: 86vh;
}

.fak-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.btn-secondary {
  background-color: #450D18 !important;
  border-color: #D7DEDC;
}

.btn-group {
  margin: 15px auto;
}
.show p {
  font-size: 12px;
}

.show h5 {
  font-size: 14px;
}
.mapping-fak {
  margin-top: 50px;
}
