<h3>Whether you are a victim or a witness, we can help you. </h3>
<%= simple_form_for(@statement) do |f| %>
        <%= f.submit value="Get help !",input_html:{ class: "recognitionStyling" } %>
      <% end %>
