  <%# <div data-controller="new-answer">
    <div class="answers" data-new-answer-target="question" data-action='click->new-answer#send'>get help </div>
    <div class="answers" data-new-answer-target="question" data-action='sumbit->new-answer#send'>send to statement </div>
    <%# <%= simple_form_for([ @answer ],
      data: { data_new_answer_target: 'form' }) do |f| %>
    <%# <% end %>
  <%# </div>  %>

  <%# <%= simple_form_for([ @answer ],
    data: {
      insert_in_list_target: 'form',
      action: 'click->new_answer#send'
    <%# }) do |f| %>
  <%# <% end %>
