<div class="fullpagecontainer">

  <div class="loneliness">
    <%# <%= image_tag ("loneliness.jpeg") %>
    <div class="textonimg">
    <h4>In your darkest hours, you should never be alone.</h4>
    </div>
  </div>



  <div class="btn btn-flat help-button">
  <p>Get Help</p>
  </div>

  <div class="icon-schema">
    <div class="icon-items">
      <div class="icons">
      <i class="far fa-edit"></i>
      </div>
      <div class="undericon-text">
      Answer a few questions.
      </div>
    </div>

    <div class="icon-items">
      <div class="icons">
      <i class="fas fa-stopwatch"></i>
      </div>
      <div class="undericon-text">
      Will take you 1 minute.
      </div>
    </div>

    <div class="icon-items">
      <div class="icons">
      <i class="fas fa-medkit"></i>
      </div>
      <div class="undericon-text">
      Get a personal First Aid Kit.
      </div>
    </div>
  </div>
</div>











<%# <i class="fas fa-medkit"></i>
<i class="fas fa-question"></i>
<i class="far fa-edit"></i>
<i class="fas fa-stopwatch"></i> %>
