<div class="fullpagecontainer">

  <div class="loneliness">
    <%# <%= image_tag ("loneliness.jpeg") %>
    <div class="textonimg">
    <h4>You shouldn't be alone in times of need.</h4>
    </div>
  </div>



  <div class="btn btn-flat help-button">
  <%# <p>Get Help</p> %>
  <%= simple_form_for(@statement) do |f| %>
        <% f.submit value="Get help !" %>
      <% end %>
  </div>
   <%# <%= link_to "Get Help", new_statement_path, class: "btn btn-flat help-button" %>

  <div class="icon-schema">
    <div class="icon-items">
      <div class="icons">
      <i class="far fa-edit"></i>
      </div>
      <div class="undericon-text">
      Answer questions
      </div>
    </div>

    <div class="icon-items">
      <div class="icons">
      <i class="fas fa-stopwatch"></i>
      </div>
      <div class="undericon-text">
      One minute
      </div>
    </div>

    <div class="icon-items">
      <div class="icons">
      <i class="fas fa-medkit"></i>
      </div>
      <div class="undericon-text">
      Get your First Aid Kit
      </div>
    </div>
  </div>
</div>











<%# <i class="fas fa-medkit"></i>
<i class="fas fa-question"></i>
<i class="far fa-edit"></i>
<i class="fas fa-stopwatch"></i> %>
