<div class="homepagefull">
  <div class="homerowflexbox">
    <div class="columnflexing">
        <div class="textonimg">
          <h4>Whathever happened, we're here, We Care</h4>
          <hr>
          <h5>We care is the first website that helps victims and witnesses for any criminal case in Belgium.</h5>
        </div>

        <div class="btn-flat help-button" data-controller="card-statement" data-action="click->card-statement#submitForm">
          <%= simple_form_for(@statement, data:{card_statement_target:"form"}) do |f| %>
            <p>What can you do ?</p>
          <% end %>
        </div>
    </div>

    <div id="photo1"></div>

  </div>

  <div class="homerowflexbox2">
    <div id="photo2"></div>

    <div class="iconcontainer">
      <div class="icon-schema">
        <div class="icon-items">
          <div class="icons">
            <i class="far fa-edit"></i>
          </div>
          <div class="undericon-text">
          Answer questions
          </div>
        </div>

        <div class="icon-items">
          <div class="icons">
          <i class="fas fa-stopwatch"></i>
          </div>
          <div class="undericon-text">
          One minute
          </div>
        </div>

        <div class="icon-items">
          <div class="icons">
          <i class="fas fa-medkit"></i>
          </div>
          <div class="undericon-text">
          Get your First Aid Kit
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="photo3">
  </div>
</div>
