body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:#F5F5F5;
    font-family: 'Montserrat', sans-serif;
}
.card-specialist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: flex-start;
    border-radius:10px;
    margin-right: 20px;
    margin-top: 34px;
}

.card-specialist .box {
    text-align: center;
    background-color: #D7DEDC;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    height: 345px;
    border: solid;
    border-width: 1px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.card-specialist .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card-specialist .box .img img {
    width:100%;
    height:100%;
    border-radius: 50%;
}
.card-specialist .box h2 {
    font-size: 14px;
    color:#262626;
    margin:20px auto;
}
.card-specialist .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card-specialist .box p {
    color:#262626;
    font-size: 12px;
}
.card-specialist .box span {
    display:inline-flex;
}
.card-specialist .box ul {
    margin:0;
    padding:0;
}
.card-specialist .box ul li {
    list-style:none;
    float:left;
}
.card-specialist .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card-specialist .box a:hover {
    text-decoration: none;
}

@media(min-width: 1000px) {
  .card-specialist{
  }
}

.indexcontainer {
  display: flex;
  // flex-direction: column;
  justify-content: space-evenly;
  // height: 80vh;
  // align-items: center;
  // min-height: 86vh;
  width: 97%;
  margin-left: 20px;
  margin-right: 20px;
}

.rowflexing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.searchbutton {
display: inline-block;
font-weight: 400;
color: #F5F5F5;
background-color: #18233A;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 2px;
transition: color 0.15s ease-in-out,
background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out,
box-shadow 0.15s ease-in-out;
}

.searchbutton:hover {
  text-decoration: none;
}

:hover {
  color: inherit;
  text-decoration: none;
}

.deletebutton {
  display: inline-block;
  font-weight: 400;
  // color: #F5F5F5 !important;
  background-color: #450D18;
  text-align: center;
  vertical-align: middle;
  width: 90px;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}

.deletebutton a {
  color:#F5F5F5;
}

.mapflex {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 42vw;
  // height: 90vh;
  // border-radius: 10px;
  // margin: 10px;
  // position: sticky;
  // top: 30px;
}

.maptext {
  text-align: center;
  color: #18233A;
  position: sticky;
  top: 70px;
}

.maptext h2 {
  font-size: 20px;
}
