.full-container {
  background-color: white;
  padding-bottom: 50px;
}


.form {
  padding: 20px;
  width: fit-content;
  margin: 10px;
  display: flex;
}

.full-container h1 {
  text-align: center;
  padding-top: 8px;
}
